body {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

.header {
    text-align: center;
}

.logo > img {
    margin-top: 42px;
    margin-bottom: 0;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    margin-top: 0;
    margin-bottom: 17px;
}

/* INPUT RECHERCHE DES RECETTES*/
.divSearch {
    border-radius: 5px;
    height: 4.3rem;
    background: #E7E7E7;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.inputSearch {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 23px;
    margin-left: 24px;
    padding: 0;
    border: none;
    color: #000;
    background-color: #E7E7E7;
    outline: none;
}

.divIconLoupe {
    font-size: 44px;
    height: 44px;
    margin-top: 12px;
    padding-right: 12px;
}

.fa-magnifying-glass {
    font-size: 32px;
}

/* TAGS DE RECHERCHE SELECTIVE */
.tags {
    margin-top: 20px;
    padding-left: 100px;
    display: flex;
    position: absolute;
}

.inputSearchBtn {
    background-color: #3282F7;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: none;
    width: 90%;
}

/* SPAN RESULT TAG */
.groupResultsTags {
    display: flex;
    align-items: center;
    padding-left: 100px;
    margin-top: 25px;
    display: none;
}

.resultTag {
    display: inline-block;
    height: 37px;
    border-radius: 5px;
    color: #fff;
    margin-right: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
}

.fa-circle-xmark {
    padding-left: 13px;
    margin-right: 13px;
    font-size: 20px;;
}

.resultTag:first-child {
    background: #3282F7;
}

/* BUTTONS*/
.ingredients, .appareils, .ustensiles {
    width: 150px;
    height: 69px;
    border-radius: 5px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
}

.ingredients {
    background-color: #3282F7;
}

.ingredients>span, .appareils>span, .ustensiles>span{
    padding-left: 10px;
}

.appareils {
    background-color: #68D9A4;
}

.appareils>span {
    padding-left: 10px;
}

.ustensiles {
    background-color: #ED6454;
}

.ustensiles>span {
    padding-left: 10px;
}

.dropdownMenu {
    margin-right: 20px;
}

.listInputSearch {
    padding: 22px 0 27px 19px
}

.globalSearchIngredients, .globalSearchAppareils, .globalSearchUstensiles {
    width: 667px;
    border-radius: 5px;
    background-color: #3282F7;
    display: none;
}

.globalSearchAppareils {
    background-color: #68D9A4;
    width: 590px;
}

.globalSearchUstensiles {
    background-color: #ED6454;
}

.inputSearchBtnIngredients, .inputSearchBtnAppareils, .inputSearchBtnUstensiles {
    width: 90%;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.inputSearchBtnIngredients {
    background-color: #458bf5;
}

.inputSearchBtnAppareils {
    background-color: #4dcd90;
}

.inputSearchBtnUstensiles {
    background-color: #d9857b;
}

.fa-chevron-up {
    padding-right: 28px;
    color: #fff;
}

.listElements {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: scroll;
}

.listElements > p {
    width: 30%;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 19px;
    margin-top: 0;
    margin-bottom: 10px;
    height: fit-content;
}

.listElements > p:hover {
    color: #000;
    background-color: #fff;
}

/* INTERFACE DES RECETTES */
.recipes-wrapper {
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 34px;
    margin-right: 100px;
}

.containerCard {
    width: 28%;
    border-radius: 5px;
    margin-left: 60px;
    margin-bottom: 50px;
    margin-top: 25px;
    background-color: #E7E7E7;
}

.imageCard {
    width: 100%;
    background-color: #C7BEBE;
    min-height: 178px;
    border-radius: 5px 5px 0 0;
}

.timerClock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
}

.titleCard {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    padding-left: 20px;
}

.divClock {
    padding-right: 20px;
}

.divClock > span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.containerIngredientsDescription {
    display: flex;
}

.divIngredientsList {
    width: 50%;
}

.divIngredientsList p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding-left: 20px;
    margin: 0;
    margin-right: 5px;
}

.divIngredientsAndDescription {
    width: 50%;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 109px;
    padding-right: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}