body {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    max-width: 1440px;

}

.header {
    text-align: center;
}

.logo > img {
    margin-top: 42px;
    margin-bottom: 0;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    margin-top: 0;
    margin-bottom: 17px;
}

/* INPUT RECHERCHE DES RECETTES*/
.divSearch {
    margin: auto;
    border-radius: 5px;
    width: 90%;
    height: 4.3rem;
    background: #E7E7E7;
    display: flex;
    justify-content: space-between;
}

.inputSearch {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-top: 23px;
    margin-left: 24px;

    padding: 0;

    border: none;
    color: #000;
    background-color: #E7E7E7;
    outline: none;
}


.divIconLoupe {
    font-size: 44px;
    height: 44px;
    margin-top: 12px;
    padding-right: 12px;
}

/* TAGS DE RECHERCHE SELECTIVE */
.tags {
    padding-left: 68px;
    margin-top: 15px;
}

.tags > select {
    width: 170px;
    height: 69px;

    color: #fff;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    border-radius: 5px;

    text-align: center;
}

#firstTag {
    background-color: #3282F7;
    margin-right: 20px;
}

#secondTag {
    background: #68D9A4;
    margin-right: 20px;
}

#thirdTag {
    background-color: #ED6454;
}

/* INTERFACE DES RECETTES */
.recipes-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerCard {
    width: 28%;
    border-radius: 5px;
    margin-left: 60px;
    margin-bottom: 50px;
    background-color: #E7E7E7;
}

.imageCard {
    width: 100%;
    background-color: #C7BEBE;
    min-height: 178px;
    border-radius: 5px 5px 0 0;
}

.timerClock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
}

.titleCard {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    padding-left: 20px;
}

.divClock {
    padding-right: 20px;
}

.divClock > span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.containerIngredientsDescription {
    display: flex;
}

.divIngredientsList {
    width: 50%;
}

.divIngredientsList p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    padding-left: 20px;

    margin: 0;
    margin-right: 5px;
}

.divIngredientsAndDescription {
    width: 50%;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 109px;

    padding-right: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}